@font-face {
    font-family: "Monlam Uni OuChan2";
    font-style: normal;
    font-weight: normal;
    src: url(https://github.com/OpenPecha/ebook-template/blob/master/MonlamUniOuChan2.ttf)
    }
body {
    -epub-hyphens: none;
    -epub-text-align-last: left;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #343233;
    display: block;
    font-family: "Monlam Uni OuChan2" !important;
    font-size: 1.33333em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.8;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: justify, center;
    text-decoration: none;
    text-indent: 24px;
    text-transform: uppercase;
    widows: 1;
    margin: 0;
    padding: 0
    }
.charoverride {
    color: #343233;
    font-family: "Monlam Uni OuChan2", sans-serif;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase
    }

/* Credit page */
.credits-page_epub-edition-line {
    -epub-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #343233;
    display: block;
    font-family: Georgia, serif;
    font-size: 0.77778em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.5;
    orphans: 1;
    page-break-after: always;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1;
    margin: 8px 50px 20px;
    padding: 0
    }
.credits-regular {
    color: #343233;
    font-family: Georgia, serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none
    }

/* Author*/
.text-author {
    -epub-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #343233;
    display: block;
    font-family: "Tibetan Machine Uni", serif;
    font-size: 1.88889em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.5;
    orphans: 1;
    page-break-after: always;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1;
    margin: 0 0 20px;
    padding: 0
    }

/* Book number*/
.tibetan-book-number {
    -epub-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #343233;
    display: block;
    font-family: "Monlam Uni OuChan2", sans-serif;
    font-size: 1.88889em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.8;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1;
    margin: 20px 0 40px;
    padding: 0
    }
.front-page---text-titles {
    color: #343233;
    font-family: "Monlam Uni OuChan2", sans-serif;
    font-size: 0.52941em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase
    }

/* Cover page Title*/
.credits-page_front-title {
    -epub-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #343233;
    display: block;
    font-family: "Monlam Uni OuChan2", sans-serif;
    font-size: 1.88889em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.5;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1;
    margin: 40px 0 20px;
    padding: 0
    }
.front-title {
    color: #343233;
    font-family: "Monlam Uni OuChan2", sans-serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none
    }

/* Book Title*/
.tibetan-book-title {
    -epub-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #343233;
    display: block;
    font-family: "Monlam Uni OuChan2", sans-serif;
    font-size: 1.88889em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.8;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: uppercase;
    widows: 1;
    margin: 0 0 23px;
    padding: 0
    }

/* Subtitle*/
.tibetan-book-sub-title {
    -epub-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #343233;
    display: block;
    font-family: "Monlam Uni OuChan2", sans-serif;
    font-size: 1.1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.8;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: uppercase;
    widows: 1;
    margin: 0 0 23px;
    padding: 0
    }

/*Chapters*/
.tibetan-chapters {
    -epub-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #343233;
    display: block;
    font-family: "Monlam Uni OuChan2", sans-serif;
    font-size: 1.1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.5;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: uppercase;
    widows: 1;
    margin: 0 0 27px;
    padding: 0
    }

/*Yigchung*/
.tibetan-commentary-small {
    color: #343233;
    font-family: "Monlam Uni OuChan2", sans-serif;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none
    }

/*Commentary*/
.tibetan-commentary-non-indent {
    -epub-hyphens: none;
    -epub-text-align-last: left;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #343233;
    display: block;
    font-family: "Monlam Uni OuChan2", sans-serif;
    font-size: 1.33333em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.8;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: justify;
    text-decoration: none;
    text-indent: 0;
    text-transform: uppercase;
    widows: 1;
    margin: 0;
    padding: 0
    }
.tibetan-commentary-non-indent1 {
    -epub-hyphens: none;
    -epub-text-align-last: left;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #343233;
    display: block;
    font-family: "Monlam Uni OuChan2", sans-serif;
    font-size: 1.33333em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.8;
    orphans: 1;
    page-break-after: always;
    page-break-before: auto;
    text-align: justify;
    text-decoration: none;
    text-indent: 0;
    text-transform: uppercase;
    widows: 1;
    margin: 0;
    padding: 0
    }
.tibetan-regular-indented {
    -epub-hyphens: none;
    -epub-text-align-last: left;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #343233;
    display: block;
    font-family: "Monlam Uni OuChan2", sans-serif;
    font-size: 1.33333em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.8;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: justify;
    text-decoration: none;
    text-indent: 24px;
    text-transform: uppercase;
    widows: 1;
    margin: 0;
    padding: 0
    }
.tibetan-regular-indented1 {
    -epub-hyphens: none;
    -epub-text-align-last: left;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #343233;
    display: block;
    font-family: "Monlam Uni OuChan2", sans-serif;
    font-size: 1.33333em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.8;
    orphans: 1;
    page-break-after: always;
    page-break-before: auto;
    text-align: justify;
    text-decoration: none;
    text-indent: 24px;
    text-transform: uppercase;
    widows: 1;
    margin: 0;
    padding: 0
    }

/* Citations */
.tibetan-external-citations {
    color: #897335;
    font-family: "Monlam Uni OuChan2", sans-serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase
    }

.tibetan-citations-in-verse {
    -epub-hyphens: none;
    -epub-text-align-last: left;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #897335;
    display: block;
    font-family: "Monlam Uni OuChan2", sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.8;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: justify;
    text-decoration: none;
    text-indent: 0;
    text-transform: uppercase;
    widows: 1;
    margin: 14px 0 14px 48px;
    padding: 0
    }

/*Footnotes*/
.tibetan-footnote-reference {
    color: #343233;
    font-family: "Monlam Uni OuChan2", sans-serif;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none
    }
.tibetan-footnote-marker {
    color: #343233;
    font-family: "Monlam Uni OuChan2", sans-serif;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none
    }
    
/* Tsawa */
.tibetan-root-text {
    color: #8b1409;
    font-family: "Monlam Uni OuChan2", sans-serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase
    }
.tibetan-root-text-in-verse {
    -epub-hyphens: none;
    -epub-text-align-last: left;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #8b1409;
    display: block;
    font-family: "Monlam Uni OuChan2", sans-serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.8;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: justify;
    text-decoration: none;
    text-indent: 0;
    text-transform: uppercase;
    widows: 1;
    margin: 14px 0 14px 48px;
    padding: 0
    }

/* Sabche */
.tibetan-sabche {
    -epub-hyphens: none;
    -epub-text-align-last: left;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #005e7f;
    display: block;
    font-family: "Monlam Uni OuChan2", sans-serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.8;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: justify;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1;
    margin: 23px 0 0;
    padding: 0
    }
.tibetan-sabche1 {
    color: #005e7f;
    font-family: "Monlam Uni OuChan2", sans-serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase
    }
